html { 
  font-family: 'Helvetics Neue' , sans-serif;
}

html,body{
	margin: 0;
	padding: 0;
	height: 0;
	height: 0;
	height: 100%;
	width: 100%;
	margin: auto;
	display: table;
	background: url("img/bg.png")  50% 50%;
	top: 0;
	background-size: cover;
}

.prof-box{
	width:  450px;
	height: 450px;
	background: rgba(0,0,0,0.4);
	padding: 40px;
	color: white;
	margin: 0 auto;
	margin-top: 140px;
	text-align: center;
}

.prof-pic{
	border-radius: 50%;
	height: 180px;
	width: 160px;
}

h1 {
	font-weight: 1;
	letter-spacing: 5;
	font-size: 40px;
 }

h2 {
    font-size: 26px;
    letter-spacing: 10;
 }


 p {
 	font-weight: 200;
    letter-spacing: 1;
 }
 h5 {
 	font-weight: 1;
	letter-spacing: 2;

 }


@media screen and (max-width: 900px) {
	.prof-box{
	width:  350px;
	height: 350px;
	background: rgba(0,0,0,0.4);
	padding: 40px;
	color: white;
	margin: 0 auto;
	margin-top: 140px;
	text-align: center;
}

.prof-pic{
	border-radius: 50%;
	height: 140px;
	width: 120px;
}

h1 {
	font-weight: 1;
	letter-spacing: 5;
	font-size: 20px;
 }

h2 {
    font-size: 20px;
    letter-spacing: 10;
 }


 p {
 	font-weight: 200;
    letter-spacing: 1;
 }
 h5 {
 	font-weight: 1;
	letter-spacing: 2;

 }


}

@media screen and (max-width: 768px) {
	.prof-box{
	width:  275px;
	height: 275px;
	background: rgba(0,0,0,0.4);
	padding: 40px;
	color: white;
	margin: 0 auto;
	margin-top: 140px;
	text-align: center;
}

.prof-pic{
	border-radius: 50%;
	height: 100px;
	width: 80px;
}

h1 {
	font-weight: 1;
	letter-spacing: 5;
	font-size: 12px;
 }

h2 {
    font-size: 14px;
    letter-spacing: 10;
 }


 p {
 	font-weight: 200;
    letter-spacing: 1;
    font-size: 12px;
 }
 h5 {
 	font-weight: 1;
	letter-spacing: 2;
	font-size: 12px;

 }

}

@media screen and (max-width: 480px) {

	
}

